[submodule "nflxprofile"]
	path = deps/nflxprofile
	url = https://github.com/Netflix/nflxprofile
[submodule "protobuf-c"]
	path = deps/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c
[submodule "deps/parson"]
	path = deps/parson
	url = https://github.com/mmarchini/parson
